// ///fonts///
// $font-primary: "Poppins";
// $font-secondary:  "monospace";
// $font-size: 16px;

// ///colors///
// $primary-color: #222;
// $secondary-color: #fff;

///fonts///
$font-primary: "Poppins";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #fff;
$nav-color: #606060;
$search-bg: #EDEDED;
$placehoder-search: #C2C3CB;
$footer-bg: #141416;
$footer-color: #B9B9B9;